body {

    margin: 0;
}

header {
    height: 90vh;
    background-image: url(./assets/landingpage.jpg);
    background-size: cover;
    text-align: center;
}

.navigation {
    padding: 15px 0px;
    color: white;
    border-bottom: 1px grey;
}

nav ul {
    display: inline-block;
    margin-left: 10em;
    list-style-type: none;
    overflow: hidden;

}

nav ul li {
    display: inline;
    margin-left: 4em;
}

nav ul li a {
    text-decoration: none;
    padding: 8px;
    color: white;
}

nav ul li a:hover {
    color: rgb(187, 181, 181)
}

span {
    display: inline-block;
}

nav img {
    margin-left: 100px;
    padding: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white
}

.home-paragraph {
    margin-top: 20vh;
    font-weight: bolder;
    text-align: center;
    color: white
}

.home-paragraph h1,
h3 {
    margin-bottom: 20px;
}

.auth-buttons {
    text-align: center;
    position: relative;
}

.login-button {

    display: inline-block;
    height: 6.5em;
    width: 51vw;
    border: none;
    background-color: #34495e;
    clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
    font-weight: bold;
    margin-right: -45px;
    z-index: 10;
    color: white;
    clear: both;
}

.register-button {
    float: right;
    height: 6.5em;
    width: 51vw;
    border: none;
    background-color: #27ae60;
    font-weight: 900;
    color: white;
}

.about-us {
    margin: 50px 0;
}

.vl {
    display: inline-block;
    border-right: 3px dotted lightgray;
    height: 200px;
    width: 47%;
    margin: 0px 0px 10px -3px;
}

.about-header {
    margin-left: 11vw;
}

.about-text {
    width: 55%;
    text-align: left;
    margin: auto;
    line-height: 20px;
    color: #aeb6bf;
}

.cards {
    display: inline-block;
    height: 200px;
}

.card {
    float: left;
    margin: 40px 0px 0px 100px;
    text-align: center;
}

.card img {
    border: 5px solid lightgray;
    border-radius: 60px;
    padding: 0;
    margin: auto;
}

.card h4 {
    color: #aeb6bf;
    margin-top: -15px;
}

.card a {
    padding: 10px;
    color: lightgray;
}

.card a:hover {
    color: rgb(0, 140, 255);
}

.slider {
    height: 30vh;
    background-image: url(./assets/slider.jpg);
    background-size: cover;
}

.slider p {
    margin: auto;
}

.slider-text {
    width: 50%;
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.slider .slider-name {
    margin: auto;
}

.slider-name {
    padding: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
}

.features {
    height: 40vh;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.feature-box {
    display: inline-block;
    width: 250px;
    text-align: center;
    margin: 30px;
}

.features div i {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    padding: 18px;
}

.feature-box p {
    color: rgb(158, 158, 158);
}

.fast-servers {
    border-radius: 50px;
    margin: auto;
    height: 70px;
    width: 70px;
    background-color: rgba(255, 208, 0, 0.897);
}

.cloud-service {
    border-radius: 50px;
    margin: auto;
    height: 70px;
    width: 70px;
    background-color: rgb(0, 110, 255)
}

.fast-transfers {
    border-radius: 50px;
    margin: auto;
    height: 70px;
    width: 70px;
    background-color: grey;
}

.fast-support {
    border-radius: 50px;
    margin: auto;
    height: 70px;
    width: 70px;
    background-color: rgb(255, 123, 0);
}


footer {
    margin: auto;
    background-color: rgb(32, 31, 31);
    height: 40vh;
}

.container {
    margin: auto;
}

footer div {
    display: inline-block;
}

.first-box .text {
    margin: 70px 0 50px 50px;
    width: 30%;
    line-height: 25px;
    color: gray;
}

.creator {
    margin-left: 50px;
    color: grey;
}